<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//hibernate/Hibernate Configuration DTD
3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/sistemasube</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property>
		<mapping resource="mapeo/Usuario.hbm.xml"/>
		<mapping resource="mapeo/Beneficio.hbm.xml"/>
		<mapping resource="mapeo/Tarjeta.hbm.xml"/>
		<mapping resource="mapeo/Boleto.hbm.xml"/>
		<mapping resource="mapeo/Lector.hbm.xml"/>

	</session-factory>
</hibernate-configuration>	